<div class="jumbotron">
<h1 class="new-font">Application Parameters</h1>

<!--= link_to 'New App parameter', new_app_parameter_path % -->

<%= link_to "<button type='button' class='btn btn-default active'>
  <span class='glyphicon glyphicon-plus-sign'></span> New Parameter</button>".html_safe , new_app_parameter_path %>
  <br>
  <br>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Group</th>
      <th>Position</th>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @app_parameters.each do |app_parameter| %>
      <tr>
        <td><%= app_parameter.group %></td>
        <td><%= app_parameter.position %></td>
        <td><%= app_parameter.name %></td>
        <td><%= app_parameter.value %></td>
        <td><%= app_parameter.description %></td>
        <td><%= link_to 'Edit', edit_app_parameter_path(app_parameter) %></td>
        <td><%= link_to 'Destroy', app_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!--= link_to 'Back', panel_path %-->
 <%= link_to "<button type='button' class='btn btn-default active'>
  <span class='glyphicon glyphicon-chevron-left'></span> Panel </button>".html_safe , panel_path %>
</div>
