<div class="jumbotron">
<h1 class="new-font">Application Parameters</h1>

<%= link_to 'New App parameter', new_app_parameter_path %>
<table class="table">
  <thead>
    <tr>
      <th>Group</th>
      <th>Code</th>
      <th>Value</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @app_parameters.each do |app_parameter| %>
      <tr>
        <td><%= app_parameter.group %></td>
        <td><%= app_parameter.code %></td>
        <td><%= app_parameter.value %></td>
        <td><%= app_parameter.description %></td>
        <td><%= link_to 'Show', app_parameter %></td>
        <td><%= link_to 'Edit', edit_app_parameter_path(app_parameter) %></td>
        <td><%= link_to 'Destroy', app_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', panel_path %>
</div>
