<!DOCTYPE html>
<html lang="en" dir="lr">
  <head>

    <%= render 'layouts/meta' %>

    <%= render 'layouts/favicons' %>

    <title> <%= page_title %> </title>
   
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>

    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
     <script src="//use.edgefonts.net/sail:n4:all;fredericka-the-great:n4:all;strumpf-std:n7:all.js">
     </script>

    <!-- %= yield(:head) %-->

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    </div>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  </body>
</html>
