<!DOCTYPE html>
<html lang="es" dir="lr">
  <head>

    <%= render 'layouts/meta' %>

    <title><%= content_for?(:title) ? yield(:title) : "Wtracker" %></title>
   
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
        
    </div>

    <%= render 'layouts/footer' %>
    

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  </body>
</html>
